/*
$blue:			#518eaa;
$blueDarker:	#2f5266;
$blueDarkest:	#264151;
*/
/* Fonts */
@font-face {
  font-family: "reykjavikone";
  src: url("/fonts/reykjavikoneagauge-webfont.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: "reykjavikone";
  src: url("/fonts/reykjavikonebgauge-webfont.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: "reykjavikone";
  src: url("/fonts/reykjavikonecgauge-webfont.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "reykjavikone";
  src: url("/fonts/reykjavikonedgauge-webfont.woff") format("woff");
  font-weight: 900; }

body {
  font-family: 'reykjavikone';
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* Prevent highlight on click in Chrome on Android */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a {
  text-decoration: none;
  -webkit-user-select: none !important; }

#mask {
  width: 100%;
  height: 100%;
  position: fixed;
  /* so that it doesn't scroll */
  top: 0px;
  left: 0px;
  background-color: #296f99;
  opacity: .9;
  display: none; }

.spread {
  background-color: #cacaca;
  width: 100%;
  height: 100%;
  position: fixed;
  /* so that it doesn't scroll */
  top: 0px;
  left: 0px; }

#credits {
  position: fixed;
  top: 38px;
  right: 0px;
  bottom: auto;
  left: auto;
  padding: 7px 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #222; }

#credits img {
  margin: 5px 0 5px 10px;
  height: 36px; }

#credits .text {
  display: inline-block;
  margin: 5px 7px 5px 10px;
  vertical-align: middle;
  font-size: 13pt; }

#menu {
  position: fixed;
  left: 38px;
  top: 38px;
  width: 450px; }

.page .intro {
  position: fixed;
  left: 38px;
  top: 114px;
  width: 375px; }

.page .intro p {
  font-size: 16pt;
  margin: 0 0 12px 0;
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 3px #222;
  padding: 15px; }

.topic {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 38px; }

.topic .row {
  position: relative;
  margin-top: 12px; }

.topic .row.big {
  height: 400px; }

.topic .chooser {
  width: 375px;
  left: 0; }

.topic .control {
  position: absolute;
  top: 0;
  margin-left: 389px;
  /* 2 is the shadow */
  white-space: nowrap; }

.topic .detail {
  position: absolute;
  top: 0;
  right: 38px;
  bottom: 0;
  left: 389px;
  /* 2 is the shadow */
  padding: 10px 15px; }

.topic .text {
  width: 375px;
  margin-bottom: 38px; }

.topic .text p {
  margin: 0 0 12px 0;
  font-size: 13pt;
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 3px #222;
  padding: 15px; }

.block {
  margin: 0;
  font-size: 13pt; }

.block.white {
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 3px #222; }

.block.blue {
  background-color: #42a4c4;
  color: #fff; }

.block p {
  margin: 0;
  padding: 15px; }

#chart {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.dropdown {
  position: absolute;
  width: 450px;
  display: none; }

.dropdown div {
  margin-top: 6px;
  background-color: #42a4c4;
  box-shadow: 1px 1px 3px #222;
  padding: 10px 15px;
  font-size: 30pt;
  font-weight: normal;
  line-height: 30pt;
  color: #fff; }

.button {
  background-color: #296f99;
  color: #fff;
  cursor: pointer;
  padding: 0;
  font-size: 20pt;
  font-weight: normal;
  line-height: 20pt;
  box-shadow: 1px 1px 3px #222; }

.button .label {
  display: inline-block;
  margin: 10px 15px; }

.inline.button {
  display: inline-block;
  background-color: #296f99;
  margin-right: 12px; }

.big.button {
  font-size: 30pt;
  font-weight: normal;
  line-height: 30pt; }

.button i {
  font-size: 15pt;
  line-height: 20pt;
  margin: 10px 15px; }

.big.button i {
  font-size: 15pt;
  line-height: 30pt; }

.inline.button i {
  font-size: 13pt;
  line-height: 20pt;
  margin-left: 24px; }

.marker {
  background-color: #296f99;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  line-height: 20px;
  box-shadow: 1px 1px 3px #222;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 14px; }

.marker:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #296f99;
  position: absolute;
  top: 0px;
  left: 0px; }

.marker i {
  font-size: 10pt;
  line-height: 12pt;
  margin-left: 6px;
  opacity: .75; }

.marker.highlight {
  background-color: #42a4c4; }

.marker.highlight:before {
  border-right: 15px solid #42a4c4; }

.marker.highlight i {
  opacity: 1.0; }
