/*
$blue:			#518eaa;
$blueDarker:	#2f5266;
$blueDarkest:	#264151;
*/
/* old #608495
$blueLighter:	#5BA0BF;
$blue: 			#518eaa;
$blueDarker: 	#2f5266;
*/
/* even is best */
/* Fonts */
@font-face {
  font-family: "reykjavikone";
  src: url("/fonts/reykjavikoneagauge-webfont.woff") format("woff");
  font-weight: normal; }
@font-face {
  font-family: "reykjavikone";
  src: url("/fonts/reykjavikonebgauge-webfont.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: "reykjavikone";
  src: url("/fonts/reykjavikonecgauge-webfont.woff") format("woff");
  font-weight: 700; }
@font-face {
  font-family: "reykjavikone";
  src: url("/fonts/reykjavikonedgauge-webfont.woff") format("woff");
  font-weight: 900; }
html {
  min-height: 820px;
  min-width: 1280px; }

body {
  font-family: 'reykjavikone';
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* Prevent highlight on click in Chrome on Android */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 820px;
  min-width: 1280px;
  position: relative; }

a {
  text-decoration: none;
  -webkit-user-select: none !important; }

#splash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #618aa3;
  display: none; }

#mask {
  width: 100%;
  height: 100%;
  position: absolute;
  /* so that it doesn't scroll */
  top: 0px;
  left: 0px;
  background-color: #436d86;
  opacity: .9;
  display: none; }

.spread {
  background: white;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, white 44%, #d1d1d1 87%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(44%, white), color-stop(87%, #d1d1d1));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, white 44%, #d1d1d1 87%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, white 44%, #d1d1d1 87%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, white 44%, #d1d1d1 87%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, white 44%, #d1d1d1 87%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 100%;
  height: 100%;
  position: absolute;
  /* so that it doesn't scroll */
  top: 0px;
  left: 0px; }

.spread .map {
  background-color: #d8e6bd; }

.spread .image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#credits {
  position: absolute;
  top: 38px;
  right: 0px;
  bottom: auto;
  left: auto;
  padding: 7px 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #222; }

#credits img {
  margin: 5px 0 5px 10px;
  height: 36px; }

#credits .text {
  display: inline-block;
  margin: 5px 7px 5px 10px;
  vertical-align: middle;
  font-size: 13pt; }

#pagemenu {
  position: absolute;
  left: 38px;
  top: 38px;
  width: 650px; }

#page .intro {
  position: absolute;
  left: 38px;
  top: 114px;
  width: 350px;
  font-size: 14pt;
  margin: 0 0 12px 0;
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 3px #222;
  padding: 0 12px 0 12px; }

#page .intro p {
  margin: 12px 0 12px 0;
  padding: 0; }

.topic {
  position: absolute;
  right: 38px;
  bottom: 0;
  left: 38px; }

.topic .row {
  position: relative;
  margin-top: 12px; }

.topic .controls {
  width: 374px;
  float: left;
  margin: 0 0 38px 0; }

.topic .controls .text {
  margin-top: 12px;
  font-size: 14pt;
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 3px #222;
  padding: 1px 12px 1px 12px; }

.topic .controls .text p {
  margin: 12px 0 12px 0;
  padding: 0; }

.topic .detail {
  margin-left: 388px;
  /* 2 is the shadow */ }

.block {
  margin: 0;
  font-size: 13pt; }

.block.white {
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 3px #222; }

.block.blue {
  background-color: #618aa3;
  color: #fff; }

.block p {
  margin: 0;
  padding: 15px; }

.chart {
  width: 100%;
  height: 430px;
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 3px #222; }

.thumbnails {
  width: 100%;
  min-height: 200px;
  margin-bottom: 38px;
  margin-left: 12px;
  position: relative;
  overflow-x: hidden;
  white-space: nowrap; }

.thumbnails .image {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.thumbnails .label {
  font-size: 13pt;
  line-height: 13pt;
  text-align: center;
  color: #222;
  margin-top: 6px;
  white-space: normal; }

.thumbnails .polaroid {
  display: inline-block;
  margin-right: 12px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 1px 2px 5px #222;
  vertical-align: bottom;
  width: 130px;
  overflow-x: hidden;
  border-radius: 1px; }

.thumbnails .polaroid .image {
  display: inline-block;
  height: 128px;
  width: 128px;
  background-color: #eee;
  border: 1px solid #eee; }

.thumbnails .polaroid .label {
  height: 40px;
  width: 130px;
  font-weight: bold; }

.thumbnails .photo {
  display: inline-block;
  margin-right: 12px; }

.thumbnails .photo .image {
  width: 192px;
  height: 108px;
  border: 4px solid #ddd;
  background-color: #ddd;
  box-shadow: 1px 1px 3px #222; }

.thumbnails .photo .label {
  color: #ddd; }

.thumbnails .icon {
  display: inline-block;
  margin-right: 12px; }

.thumbnails .icon .image {
  width: 108px;
  height: 108px; }

.thumbnails .icon .label {
  color: #ddd; }

.thumbnails .cutout {
  display: inline-block;
  width: 150px;
  height: auto;
  vertical-align: bottom; }

.thumbnails .cutout .image {
  width: 150px;
  height: 150px; }

.thumbnails .cutout .label {
  color: #fff;
  font-weight: normal;
  height: 40px;
  text-align: center;
  margin-top: -15px; }

.thumbnails .cutout .label span {
  color: #fff;
  font-weight: normal;
  padding: 1px 5px 1px 5px; }

.thumbnails .imagefile {
  display: inline-block;
  margin-right: 12px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #ddd;
  background-color: #ddd;
  box-shadow: 1px 2px 5px #222;
  vertical-align: bottom;
  width: 100px;
  overflow-x: hidden; }

.thumbnails .imagefile .image {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #ddd; }

.thumbnails .imagefile .label {
  height: 20px;
  width: 100px;
  font-size: 8px; }

.cameras {
  position: absolute;
  bottom: 442px;
  right: 0;
  text-align: right;
  vertical-align: bottom; }

.cameras .camera {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 12px; }

.cameras .camera .bar {
  background-color: #436d86;
  /* overriden by pageViews.js */
  color: #fff;
  box-shadow: 1px 1px 3px #222;
  text-align: left; }

.cameras .camera .bar .name {
  display: inline-block;
  text-align: left;
  font-size: 13pt;
  margin: 6px 12px 6px 12px; }

.cameras .camera .bar .note {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  text-align: right;
  font-size: 13pt;
  margin: 6px 12px 6px 12px; }

.cameras .camera .bar .name i {
  font-size: 10pt;
  margin-left: 6px; }

.cameras .camera .image {
  background-color: #222;
  width: 400px;
  height: 225px;
  box-shadow: 1px 1px 3px #222; }

.cameras .camera .image img {
  width: 100%;
  height: 100%; }

.photos {
  width: 100%;
  height: 200px; }

.tallphotos {
  width: 100%;
  height: 380px; }

#pagemenu .dropdown {
  position: absolute;
  width: 650px;
  display: none;
  z-index: 4;
  color: #fff;
  box-shadow: 1px 1px 3px #222; }

#pagemenu .dropdown span {
  display: block;
  border-top: 1px solid #6a94b0;
  background-color: #618aa3;
  padding: 8px 15px;
  margin: 0;
  font-size: 30pt;
  font-weight: normal;
  line-height: 30pt; }

.topic .button {
  font-size: 16pt; }

.topic .dropdown {
  position: absolute;
  width: 374px;
  display: none;
  z-index: 4;
  background-color: #618aa3;
  color: #fff;
  box-shadow: 1px 1px 3px #222; }

.topic .dropdown span {
  display: block;
  border-top: 1px solid #6a94b0;
  background-color: #618aa3;
  padding: 8px 15px;
  margin: 0;
  font-size: 16pt;
  font-weight: normal;
  line-height: 16pt; }

.button {
  background-color: #436d86;
  color: #fff;
  cursor: pointer;
  padding: 0;
  font-size: 20pt;
  font-weight: normal;
  line-height: 20pt;
  box-shadow: 1px 1px 3px #222; }

.button span {
  display: inline-block;
  margin: 10px 15px; }

.inline.button {
  display: inline-block;
  background-color: #436d86;
  margin-right: 12px; }

.big.button {
  font-size: 30pt;
  font-weight: normal;
  line-height: 30pt; }

.button i {
  font-size: 15pt;
  line-height: 20pt;
  margin: 10px 15px; }

.big.button i {
  font-size: 15pt;
  line-height: 30pt; }

.inline.button i {
  font-size: 13pt;
  line-height: 20pt;
  margin-left: 24px; }

.markercontainerL, .markercontainerR {
  overflow: hidden;
  white-space: nowrap; }

.markercontainerL .dot, .markercontainerR .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: red;
  vertical-align: middle; }

.marker {
  vertical-align: middle;
  display: inline-block;
  background-color: #555;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  line-height: 20px; }

.markericon img {
  width: 40px;
  height: 40px;
  background-color: #555;
  padding: 5px; }
.markericon .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #555;
  vertical-align: middle; }

.markericon {
  opacity: .9; }

.markercontainerL .marker {
  padding-left: 5px; }

.markercontainerR .marker {
  padding-right: 5px; }

.marker.on {
  opacity: 1; }

.markercontainerL .marker i {
  font-size: 10pt;
  line-height: 12pt;
  margin-right: 6px; }

.markercontainerR .marker i {
  font-size: 10pt;
  line-height: 12pt;
  margin-left: 6px; }

.markerArrow {
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  /* left arrow slant */
  border-top: 15px solid transparent;
  /* right arrow slant */
  font-size: 0;
  line-height: 0;
  margin-right: 0px; }

.iconArrow {
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent;
  /* left arrow slant */
  border-top: 25px solid transparent;
  /* right arrow slant */
  font-size: 0;
  line-height: 0;
  margin-right: 0px;
  border-right: 25px solid #555;
  /* bottom, add background color here */
  margin-left: 2px; }

.markercontainerL .markerArrow {
  border-right: 15px solid #555;
  /* bottom, add background color here */
  margin-left: 2px; }

.markercontainerR .markerArrow {
  border-left: 15px solid #555;
  /* bottom, add background color here */
  margin-right: 2px; }

/*# sourceMappingURL=page.css.map */
