// This SCSS file needs to be complied to CSS after making changes

// Colors
$white:			#fff;
$black:			#222;
$red:			#a97576;
$redDarker:		#9b5c57;
/*
$blue:			#518eaa;
$blueDarker:	#2f5266;
$blueDarkest:	#264151;
*/

$blueLighter:	#5BA0BF;
$blue: 			#518eaa;
$blueDarker: 	#2f5266;

$tan:			#decba5;
$tanMedium:		#9e8358;
$tanDarker:		#9d9272;
$water:			#8edded;
$highlight:		#ffe495;

$markerColor:	#555;

// Sizing
$pageMargin: 38px;
$spacing: 12px;
$shadow: 1px 1px 3px $black;
$shadowExtra: 1px 2px 5px $black;
$firstColumn: 350px;
$menuWidth: 650px;
$chartHeight: 430px;
$dot: 8px; /* even is best */



/* Fonts */
@font-face {
	font-family: "reykjavikone";
	src: url("/fonts/reykjavikoneagauge-webfont.woff") format('woff');
	font-weight: normal;
}
@font-face {
	font-family: "reykjavikone";
	src: url("/fonts/reykjavikonebgauge-webfont.woff") format('woff');
	font-weight: bold;
}
@font-face {
	font-family: "reykjavikone";
	src: url("/fonts/reykjavikonecgauge-webfont.woff") format('woff');
	font-weight: 700;
}
@font-face {
	font-family: "reykjavikone";
	src: url("/fonts/reykjavikonedgauge-webfont.woff") format('woff');
	font-weight: 900;
}

body {
	font-family: 'reykjavikone';
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);  /* Prevent highlight on click in Chrome on Android */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
	text-decoration: none;
	-webkit-user-select: none !important;
}

#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: $blue;
	display: none;
}

#mask {
	width: 100%;
	height: 100%;
	position: fixed; /* so that it doesn't scroll */
	top: 0px;
	left: 0px;
	background-color: $blueDarker;
	opacity: .9;
	display: none;
}

.spread { 

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 44%, rgba(209,209,209,1) 87%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(44%,rgba(255,255,255,1)), color-stop(87%,rgba(209,209,209,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 44%,rgba(209,209,209,1) 87%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 44%,rgba(209,209,209,1) 87%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 44%,rgba(209,209,209,1) 87%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 44%,rgba(209,209,209,1) 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	width: 100%;
	height: 100%;
	position: fixed; /* so that it doesn't scroll */
	top: 0px;
	left: 0px;
}

.spread .map {
	background-color: #d8e6bd;
}

.spread .image {
	width: 100%;
	height: 100%;
	position: fixed;
	//background-color: $black;
	background-repeat: no-repeat;
	background-position: left center;
	background-attachment: fixed;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#credits {
	position: fixed;
	top: $pageMargin;
	right: 0px;
	bottom: auto;
	left: auto;
	padding: 7px 10px;
	
	background-color: #ffffff;
	box-shadow: $shadow;
}

#credits img {
	margin: 5px 0 5px 10px;
	height: 36px;
}

#credits .text {
	display: inline-block;
	margin: 5px 7px 5px 10px;
	vertical-align:middle;
	font-size: 13pt;
}

#pagemenu {
	position: fixed;
	left: $pageMargin;
	top: $pageMargin;
	width: $menuWidth;
}

#page .intro {
	position: fixed;
	left: $pageMargin;
	top: $pageMargin * 3;
	width: $firstColumn;
	font-size: 14pt;
	margin: 0 0 $spacing 0;
	background-color: $white;
	color: $black;
	box-shadow: $shadow;
	padding: 0 $spacing 0 $spacing;
}

#page .intro p {
	margin: $spacing 0 $spacing 0;
	padding: 0;
}

.topic {
	position: fixed;
	right: $pageMargin;
	bottom: 0;
	left: $pageMargin;
}

.topic .row {
	position: relative;
	margin-top: $spacing;
}

.topic .row.normal {
	//height: $chartHeight;
}

.topic .row.big {
	//height: $chartHeight;
}

.topic .controls {
	width: $firstColumn + 2 * $spacing;
	float: left;
	margin: 0 0 $spacing 0;
}

.topic .controls .chooser {

}

.topic .controls .text {
	margin-top: $spacing;
	font-size: 14pt;
	background-color: $white;
	color: $black;
	box-shadow: $shadow;
	padding: 1px $spacing 1px $spacing;
}

.topic .controls .text p {
	margin: $spacing 0 $spacing 0;
	padding: 0;
}

.topic .detail {
	margin-left: $firstColumn + 3 * $spacing + 2; /* 2 is the shadow */
}

.block {
	margin: 0;
	font-size: 13pt;
}

.block.white {
	background-color: $white;
	color: $black;
	box-shadow: $shadow;
}

.block.blue {
	background-color: $blue;
	color: $white;
}

.block p {
	margin: 0;
	padding: 15px;
}

.chart {
	width: 100%;
	height: $chartHeight;
	background-color: $white;
	color: $black;
	box-shadow: $shadow;
}

.thumbnails {
	width: 100%;
	min-height: 200px;
	margin-bottom: $pageMargin;
	margin-left: $spacing;
	position: relative;
	overflow-x: hidden;
	white-space: nowrap;
}

.thumbnails .image {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: local;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.thumbnails .label {
	font-size: 13pt;
	line-height: 13pt;
	text-align: center;
	color: $black;
	margin-top: $spacing / 2;
	white-space: normal;
}

.thumbnails .polaroid {
	//position: relative;
	display: inline-block;
	margin-right: $spacing;
	border-width: 6px 6px 0 6px; 
	border-style: solid;
	border-color: #ddd;
	background-color: #ddd;
	box-shadow: $shadowExtra;
	vertical-align: bottom;
	width: 130px;
	overflow-x: hidden;
}

.thumbnails .polaroid .image {
	display: inline-block;
	height: 130px;
	width: 130px;
	background-color: #ddd;
}

.thumbnails .polaroid .label {
	height: 40px;
	width: 130px;
	font-weight: bold;
}

.thumbnails .photo {
	display: inline-block;
	margin-right: $spacing;
}

.thumbnails .photo .image {
	width: 192px;
	height: 108px;
	border: 4px solid #ddd;
	background-color: #ddd;
	box-shadow: $shadow;
}

.thumbnails .photo .label {
	color: #ddd;
}

.thumbnails .icon {
	display: inline-block;
	margin-right: $spacing;
}

.thumbnails .icon .image {
	width: 108px;
	height: 108px;
}

.thumbnails .icon .label {
	color: #ddd;
}

.thumbnails .cutout {
	display: inline-block;
	width: 150px;
	height: auto;
	vertical-align: bottom;
}

.thumbnails .cutout .image {
	width: 150px;
	height: 150px;
}

.thumbnails .cutout .label {
	color: $white;
	font-weight: normal;
	height: 40px;
	text-align: center;
	margin-top: -15px;
}

.thumbnails .cutout .label span {
	color: $white;
	font-weight: normal;
	padding: 1px 5px 1px 5px;
}

.thumbnails .imagefile {
	//position: relative;
	display: inline-block;
	margin-right: $spacing;
	border-width: 6px 6px 0 6px; 
	border-style: solid;
	border-color: #ddd;
	background-color: #ddd;
	box-shadow: $shadowExtra;
	vertical-align: bottom;
	width: 100px;
	overflow-x: hidden;
}

.thumbnails .imagefile .image {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: #ddd;
}

.thumbnails .imagefile .label {
	height: 20px;
	width: 100px;
	font-size: 8px;
}

.cameras {
	position: fixed;
	bottom: $chartHeight + $pageMargin;
	right: $pageMargin;
	text-align: right;
	vertical-align: botom;
}

.cameras .camera {
	display: inline-block;
	vertical-align: bottom;
	margin-left: $spacing;
	box-shadow: $shadow;
}

.cameras .camera .name {
	background-color: $blue;
	color: $white;
	padding: $spacing;
	text-align: left;
	font-size: 13pt;
}

.cameras .camera .image {
	background-color: $black;
	width: 400px;
	height: 225px;
}

.cameras .camera .image img {
	width: 100%;
	height: 100%;
}

.photos {
	width: 100%;
	height: 200px;
}

.tallphotos {
	width: 100%;
	height: 380px;
}

#pagemenu .dropdown {
	position: absolute;
	width: $menuWidth;
	display:none;
	z-index: 4;

	color: $white;
	box-shadow: $shadow;
}

#pagemenu .dropdown span {
	display: block;
	border-top: 1px solid $blueLighter;
	background-color: $blue;
	padding: 8px 15px;
	margin: 0;
	
	font-size: 30pt;
	font-weight: normal;
	line-height: 30pt;
}


.topic .button {
	font-size: 16pt;
}

.topic .dropdown {
	position: absolute;
	width: $firstColumn + 2 * $spacing;
	display:none;
	z-index: 4;
	background-color: $blue;
	color: $white;
	box-shadow: $shadow;
}

.topic .dropdown span {
	display: block;
	border-top: 1px solid $blueLighter;
	background-color: $blue;
	padding: 8px 15px;
	margin: 0;
	
	font-size: 16pt;
	font-weight: normal;
	line-height: 16pt;
}

.button {
	background-color: $blueDarker;
	color: $white;
	cursor: pointer;
	padding: 0;
	
	font-size: 20pt;
	font-weight: normal;
	line-height: 20pt;
	
	box-shadow: $shadow;
}

.button span {
	display: inline-block;
	margin: 10px 15px;
}

.inline.button {
	display: inline-block;
	background-color: $blueDarker;
	margin-right: $spacing;
}

.big.button {
	font-size: 30pt;
	font-weight: normal;
	line-height: 30pt;
}

.button i {
	font-size: 15pt;
	line-height: 20pt;
	margin: 10px 15px;
}

.big.button i {
	font-size: 15pt;
	line-height: 30pt;
}

.inline.button i {
	font-size: 13pt;
	line-height: 20pt;
	margin-left: $spacing*2;
}

.markercontainerL, .markercontainerR {
	overflow: hidden;
	white-space: nowrap;
}

.markercontainerL, .markercontainerR {
	.dot {
		display: inline-block;
		width: $dot;
		height: $dot;
		border-radius: $dot/2;
		background-color: red;
		vertical-align: middle;
	}
}

.marker {
	vertical-align: middle;
	display: inline-block;
	background-color: $markerColor;
	color: #ffffff;
	padding: 5px 10px 5px 10px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 20px;
	line-height: 20px;
}

.markericon {
	img {
		width: 50px;
		height: 50px;
		background-color: $white;
		padding: 5px;
	}
}

.markercontainerL .marker {
	padding-left: 5px;
}

.markercontainerR .marker {
	padding-right: 5px;
}

.marker.on {
	opacity: 1;
}

.markercontainerL .marker i {
	font-size: 10pt;
	line-height: 12pt;
	margin-right: $spacing/2;
	opacity: .75;
}

.markercontainerR .marker i {
	font-size: 10pt;
	line-height: 12pt;
	margin-left: $spacing/2;
	opacity: .75;
}

.markerArrow {
	vertical-align: middle;
	display: inline-block;
	width: 0; 
	height: 0; 
	border-bottom: 15px solid transparent;  /* left arrow slant */
	border-top: 15px solid transparent; /* right arrow slant */
	font-size: 0;
	line-height: 0;
	margin-right: 0px;
}

.iconArrow {
	vertical-align: middle;
	display: inline-block;
	width: 0; 
	height: 0; 
	border-bottom: 30px solid transparent;  /* left arrow slant */
	border-top: 30px solid transparent; /* right arrow slant */
	font-size: 0;
	line-height: 0;
	margin-right: 0px;
	border-right: 30px solid $white; /* bottom, add background color here */
	margin-left: 2px;
}

.markercontainerL .markerArrow {
	border-right: 15px solid $markerColor; /* bottom, add background color here */
	margin-left: 2px;
}

.markercontainerR .markerArrow {
	border-left: 15px solid $markerColor; /* bottom, add background color here */
	margin-right: 2px;
}