## This file is critical to smooth scrubbing of camera feeds in web browser. ##
## This causes those images to be cached ##
## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresDefault "access"
</IfModule>
## EXPIRES CACHING ##